<div id="home" class="layout">
    <Layout>
        <i-header>
            <i-menu mode="horizontal" theme="dark" active-name="1">
                <Menu-Item name="1">
                    <Icon type="ios-paper"></Icon>
                    内容管理
                </Menu-Item>
                <Menu-Item name="2">
                    <Icon type="ios-people"></Icon>
                    用户管理
                </Menu-Item>
                <Submenu name="3">
                    <template slot="title">
                        <Icon type="stats-bars"></Icon>
                        统计分析
                    </template>
                    <i-menu-group title="使用">
                        <Menu-Item name="3-1">新增和启动</Menu-Item>
                        <Menu-Item name="3-2">活跃分析</Menu-Item>
                        <Menu-Item name="3-3">时段分析</Menu-Item>
                    </i-menu-group>
                    <i-menu-group title="留存">
                        <Menu-Item name="3-4">用户留存</Menu-Item>
                        <Menu-Item name="3-5">流失用户</Menu-Item>
                    </i-menu-group>
                </Submenu>
                <Menu-Item name="4">
                    <Icon type="settings"></Icon>
                    综合设置
                </Menu-Item>
            </i-menu>
        </i-header>
        <i-content>
            <Card>
                <p slot="title">步骤条</p>
                <Steps current="0">
                    <Step title="已完成" content="注册"></Step>
                    <Step title="进行中" content="登录"></Step>
                    <Step title="待进行" content="实名认证"></Step>
                    <Step title="待进行" content="购买理财产品"></Step>
                </Steps>
            </Card>
            <Card>
                <p slot="title">时间轴</p>
                <Timeline>
                    <Timeline-item color="red">
                        <p class="time">1976年</p>
                        <p class="content">Apple I 问世</p>
                    </Timeline-item>
                    <Timeline-item color="red">
                        <p class="time">1984年</p>
                        <p class="content">发布Macitonsh</p>
                    </Timeline-item>

                    <Timeline-item color="green">
                        <p class="time">1984年</p>
                        <p class="content">发布Macitonsh</p>
                    </Timeline-item>
                    <Timeline-item color="orange">
                        <p class="time">1984年</p>
                        <p class="content">发布Macitonsh</p>
                    </Timeline-item>
                    <Timeline-item color="red">
                        <p class="time">1984年</p>
                        <p class="content">发布Macitonsh</p>
                    </Timeline-item>
                </Timeline>
            </Card>

            <Card>
                <p slot="title">进度条</p>
                <i-progress percent="25"></i-progress>
            </Card>

            <Card>
                <p slot="title">下拉框</p>
                <Row>
                    <i-col span="8">
                        <i-select v-model="model1">
                            <i-option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                        </i-select>
                    </i-col>
                    <i-col span="8">
                        <date-picker type="date" placeholder="Select date"></date-picker>
                    </i-col>
                    <i-col span="8">
                        <date-picker type="daterange"  placement="bottom-end" placeholder="Select date"></date-picker>
                    </i-col>
                </Row>
            </Card>

            <Card>
                <p slot="title">modal对话框</p>
                <i-button type="primary" @click="modal1=true">打开对话框</i-button>
                <modal v-model="modal1" title="这是标题" @on-ok="ok" @on-cancel="cancel">
                    <p>content of dialog</p>
                    <p>content of dialog</p>
                    <p>content of dialog</p>
                </modal>
            </Card>
            
            <Card>
                <p slot="title">幻灯片</p>
                <Carousel autoplay autoplaySpeed="3000" loop>
                    <carousel-item>
                        <div class="demo-Carousel">1</div>
                    </carousel-item>
                    <carousel-item>
                        <div class="demo-Carousel">2</div>
                    </carousel-item>
                    <carousel-item>
                        <div class="demo-Carousel">3</div>
                    </carousel-item>
                    <carousel-item>
                        <div class="demo-Carousel">4</div>
                    </carousel-item>
                </Carousel>
            </Card>
            
            <Card>
                <p slot="title">表格</p>
                <i-table :columns="columns1" :data="data1"></i-table>
            </Card>

            <Card>
                <p slot="title">分页</p>
                <Page total="100" show-sizer></Page>
            </Card>
        </i-content>
        <i-footer>

        </i-footer>
    </Layout>
</div>